body {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: stretch;

    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ccc;

    font-size: 10pt;
    font-family: sans-serif;
}

color-picker {
    flex: 1 1 0;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}
    color-picker > canvas {
        flex: 100 0 0;
        background-color: white;
        margin-bottom: 5px;

        cursor: grab;
    }
    color-picker > canvas:hover {
        cursor: grabbing;
    }
    color-picker > div {
        flex: 1 0 20px;
        background-color: white;
        margin-bottom: 5px;

        display: flex;
        flex-direction: row;
        align-items: center;
    }
        color-picker > div > label {
            margin-left: 10px;
            flex: 1 1 0;
            text-align: left;
        }
        color-picker > div > input {
            margin-right: 10px;
            flex: 1 1 0;
            text-align: right;
        }


color-organizer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    padding: 0;
    margin: 0;
    flex: 1 1 0;
}
    #color_table_wrapper {
        overflow-y: scroll;
    }
    #color_table_form {
        height: 20px;
    }

    table {
        border-spacing: 5px;
        font-size: 8pt;
        height: 100%;
        width: 100%;
    }
        thead, tfoot, tbody, tr {
            width: 100%;
        }
        tr {
            height: 20px;
        }
        td th {
            text-align: center;
            vertical-align: middle;
            padding: 0 10px 0 10px;
        }
        td.color_display, th.color_display {
            background-color: #fff;
        }
        td.color_name, th.color_name {
            background-color: #fff;
        }
        td.color_data, th.color_data {
            background-color: #ddd;
        }
        td.icon, th.icon {
            /* width: 15px; */
        }
        img.icon {
            height: 20px;
        }

color-charts {
    flex: 1 1 0;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}
    #canvas_CH, #canvas_LC {
        flex: 1 1 0;
        padding: 5px;
        background-color: white;
    }
